<h3>Abstract Submitted</h3>
<b> Author: </b> {{abstract.author}} <br/>
<b> Link: </b> <a href="{{abstract.url}}">Review Now</a><br/><br/><br/>
<b> You're receiving this email because you signed up to volunteer to review abstracts at HelpMeAbstract.com </b><br/>